*{
  padding: 0;
  margin: 0;
}
.scb_hrtop{
  position: sticky;
  top: 0;
  left: 0;
  width: 100%;
  height: 5px;
}
.scb_hrtop .progress{
  height: 100%;
  width: 0;
  background-color: #f00;
}
a{
  text-decoration: none;
}
.clear{
  clear: both;
}
.container{
  width: 100%;
}
.section{
  display: block;
  text-align: center;
}
.card{
  display: inline-block;
  min-width: 210px;
  width: 30%;
  margin: 3px 1%;
  overflow: hidden;
}
.card-wrapper{
  display: block;
  box-sizing: border-box;
  /* float: left; */
  width: 100%;
  height: 200px;
  padding: 10px;
  background-color: grey;
  border: 2px solid black;
  text-align: center;
}
.card-tool{
  background-color: #1abc9c;
}
.doc .card-wrapper{
  background-color: #3498db;
}
.ressource-sound .card-wrapper{
  background-color: #9b59b6;
}
.ressource-image .card-wrapper{
  background-color: #f1c40f;
}
.ressource-video .card-wrapper{
  background-color: #e74c3c;
}
.ressource-cdn .card-wrapper{
  background-color: #f39c12;
}
.ressource-font .card-wrapper{
  background-color: #c0392b;
}

@media screen and (min-width: 960px){
  .container{
    width: 80%;
    margin: 0 auto;
  }
  .card{
    /* width: 26%; */
  }
}
